.page-title{
	display: none;
}


.bs-glyphicons {
	margin: 0 -10px 20px;
	overflow: hidden
}

.bs-glyphicons-list {
	padding-left: 0;
	list-style: none
}

.bs-glyphicons li {
    float: left;
    width: 31%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1%;
}

.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px
}

.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word
}

.bs-glyphicons li:hover {
	color: #2db7f5;
 
}

@media (min-width:768px) {
	.bs-glyphicons {
		margin-right: 0;
		margin-left: 0
	}

	.bs-glyphicons li {
		width: 120px;
		font-size: 12px
	}
}

.glyphicon img{
	width:64px;
	height: 64px;
}

 
 li:hover{
 	cursor: pointer;
 }