/* WebKit browsers */
::-webkit-input-placeholder {
    color: #BBB;
}

/* Mozilla Firefox 4 to 18 */
:-moz-placeholder {
    color: #BBB;
    opacity: 1;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
    color: #BBB;
    opacity: 1;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
    color: #BBB;
}

.selfQA-clear-icon {
    display: block;
    margin-top: 4px;
    margin-right: 5px;
    float: right;
    height: 25px;
    padding: 5px;
    width: 25px;
}

.selfQA-search-header-div {
    height: 55px;
    width: 100%;
    background-color: #eeeeee;
    border-bottom: 1px solid #CCCCCC;
}

.selfQA-search-cancel-div {
    color: #1DB1ED;
    display: inline-flex;
    float: right;
    margin-right: 10px;
    font-size: 16px;
    line-height: 55px;
}
.selfQA-search-sure-div {
    color: #1DB1ED;
    display: inline-flex;
    float: right;
    padding: 5px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 55px;
}
.selfQA-search-input-div {
    display: inline-flex;
    width: 80%;
    height: 35px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.selfQA-search-icon {
    height: 15px;
    width: 15px;
    margin-top: 7px;
    margin-left: 7px;
}

.selfQA-search-input {
      display: inline-flex;
      color: #000000;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
      width: 85%;
      font-size: 14px;
      border:none;
      height: 100%;
}

.selfQA-quickQA-div {
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
    width: 100%;
}

.selfQA-quickQA-text {
    display: block;
    height: auto;
    width: 100%;
    margin-top: 12px;
    font-size: 15px;
    color: #1DB1ED;
}

.selfQA-result-div {
    background-color: #FFFFFF;
    height: auto;
    width: 100%;
}

.selfQA-result-header {
    color: #9a9a9a;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
}

.selfQA-result-item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
}

.selfQA-result-item-title {
    margin-top: 15px;
    font-size: 17px;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.selfQA-result-item-content {
    color: #888888;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 27px;
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.selfQA-answer-div{
    margin-bottom: 55px;
    margin-top: 15px;
    background-color: #FFFFFF;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.selfQA-answer-item-title {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 17px;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
}
.selfQA-answer-item-content {
    color: #888888;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.selfQA-answer-btn{
    position: fixed;
    height: 55px;
    width: 100%;
    border-top: 1px solid #cccccc;
    color: #1DB1ED;
    line-height: 55px;
    background-color: #F7F7F7;
    bottom: 0;
    text-align: center;
}
.selfQA-policy-section-div{
    margin-top: 15px;
    background-color: #FFFFFF;
    border-top: 1px solid #cccccc;
}
.selfQA-policy-item{
    display:block;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ccc;
}
.selfQA-policy-item-title{
    color: #000000;
    font-size: 17px;
    margin-top: 15px;
    padding-left: 10px;
}
.selfQA-policy-item-time{
    color: #888888;
    font-size: 14px;
    margin-top: 12px;
    padding-left: 10px;
    margin-bottom: 15px;
}
.selfQA-policy-item-arrow{
    margin-top: 25px;
    position: absolute;
    right: 10px;
    height: 15px;
    width: 10px;
}

/* 政策专区详情页 */

/* 主标题 */
.selfQA-policy-d-h-title{
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    min-height: 50px;
    width: 100%;
}
/* 目录div */
.selfQA-policy-d-catalogue-div{
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    width: 100%;
    background-color: #ebebeb;
}

/* 目录标题div */
.selfQA-policy-d-catalogue-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    width: 100%;
}

/* 一级标题 */
.selfQA-policy-d-h1-title{
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

/* 正文 */
.selfQA-policy-d-content{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 24px;
    width: 100%;
}

/* 正文小图 */
.selfQA-policy-d-content-img{
    width: 100%;
    height: auto;
    max-width: 500px;
    padding: 10px;
    display: block;

}

.selfQA-policy-d-content-img img{
    max-width: 100%;
}

/* 正文小图左右格式 */
.selfQA-policy-d-content-half-img{
    width: 45%;
    height: auto;
    float: left;
    max-width: 500px;
}

/* 右对齐署名 */
.selfQA-policy-d-signature{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 24px;
    width: 100%;
    text-align: right;
}


.order_list_select-abc-btn{
    background-color: #FFFFFF;
    height: 45px;
    line-height: 45px;
    position: relative;
    width: 100%;
    border-bottom: solid 1px #ccc;
}
.order_list_select-abc-btn ul{
    height: 45px;
    line-height: 45px;
    padding-left: 0px;
    margin: 0px;
}
.order_list_select-abc-btn ul li{
    float: left;
    height: 45px;
    line-height: 45px;
    width: 33%;
    list-style-type: none;
}
.order_list_select-abc-btn ul li a{
    display: block;
    height: 45px;
    text-align: center;
    width: 100%;
    font-size: 15px;
}
.order_list_select-ab-btn-on{
    border-bottom: solid 3px #1DB1ED;
}
.order_list_select-ver-line{
    height: 100%;
    width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #cccccc;
}

.qa_div{
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 9px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.qa_content{
    float: left;
    width: 100%;
    padding-top: 15px;
    font-size: 15px;
    color: #666;
    /*line-height: 20px;*/
}
.qa_more_div{
    color: #444;
    border-top: 1px solid #ddd;
    float: left;
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    line-height: 50px;
    height: 50px;
}
.qa-div-more-arrow{
    margin-top: 15px;
    position: absolute;
    right: 10px;
    height: 15px;
    width: 10px;
}
.qa-forward-img{
    padding-left: 2px;
    margin-top: -3px;
    height: 14px;
    width: 18px;
}
.qa-forward-btn{
    margin-bottom: 15px;
    float: right;
    right: 10px;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #FFFFFF;
    width: 73px;
    height: 30px;
    font-size: 14px;
    color: #1DB1ED;
    padding-left: 5px;
    /*line-height: 30px;*/
}


.dt_info_transfer{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
}
.dt_i_r_s_p_bg{
    float: left;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.dt_i_r_s_p_bg ul{
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-height: 300px;
    overflow-x: scroll;
}
.dt_i_r_s_p_bg ul li{
    float: left;
    list-style: none;
    width: 100%;
    height: 80px;
    margin-top: 10px;
}
.dt_i_r_s_p_bg dt{
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.dt_i_r_s_p_bg dt dl{
    float: left;
    width: 33.33%
}
.dt_i_r_s_p_bg_dl{
    margin: 0px;
}
.dt_i_t_d{
    width: 70px;
    margin: auto;
}
.dt_i_t_btn{
    float: left;
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
}
.dt_i_t_img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 25px;
}
.dt_i_t_txt{
    float: left;
    width: 100%;
    text-align: center;
}
.dt_p_btn_sel{
    position: absolute;
    width: 61px;
    height: 55px;
    margin-top: -2.7px;
    margin-left: 7.7px;
    background-size: 61px 55px;
    background-image: url(../images/transfer_btn_sel.png);
}

.dt_i_r_mask{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color:#000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.dt_i_r_content{
    position: fixed;
    width: 95%;
    background-color: #fff;
    top: 25%;
    left: 2.5%;
    border-radius: 10px;
}
.dt_i_r_title{
    float: left;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #000;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}
.dt_i_r_content_bg{
    float: left;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.dt_i_r_txt{
    width: 100%;
    border: 0px;
    height: 100px;
    resize: none;
}
.dt_i_r_btnbg{
    float: left;
    width: 100%;
    height: 70px;
}
.dt_i_r_l_btn{
    float: left;
    width: 35%;
    height: 35px;
    margin-left: 10%;
    font-size: 16px;
    color: #777;
    border: 1px solid #777;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #fff;
}
.dt_i_r_r_btn{
    float: right;
    width: 35%;
    height: 35px;
    margin-right: 10%;
    font-size: 16px;
    color: #469afb;
    border: 1px solid #469afb;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #fff;
}
.text_red_under{
    border-bottom:1px solid #F00;
    color: #F00;
}
.tram_intro_bg{
  position: relative;
  height: 100%;
  max-width: 750px;
  width: 100%;
}

.file_download_item{
  border-bottom: 1px solid #ccc;
  width: 100%;
  float: left;
  font-size: 15px;
  color: #000;
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
  min-height: 50px;
  background-color: #FFF;
    display: inline-table;
    /*border-bottom: 1px solid #ccc;
    width: 100%;
    float: left;
    font-size: 15px;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    text-align: left;
    padding-left: 10px;
    padding-right: 40px;
    display: block;
    height: 50px;
    background-color: #FFF;*/
}
.file_download_item_a{
    display: block;
    border-bottom: 1px solid #ccc;
    width: 100%;
    float: left;
    font-size: 15px;
    color: #000;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    min-height: 50px;
    background-color: #FFF;
}
.file_download_icon{
    height: 30px;
    width: 30px;
}
.file_download_btn{
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #FFF;
    float: right;
    height: 30px;
    width: 50px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
    /*outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #FFF;
    float: right;
    height: 30px;
    width: 50px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 30px;
    padding-left: 10px;*/
}


.tech_support{
  float: left;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #eee;

}
.tech_support_img{
  margin: auto;
  width: 161px;
  height: 11px;
  margin-top: 10px;
  background-image: url(/assets/images/app/finance/tech_support.png);
  background-repeat:no-repeat;
  background-size: 161px 11px;
}
