*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
}

*{
    font-family: microsoft yahei;
}


img{
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.am-g:before, .am-g:after {
    content: " ";
    display: table;
}
.am-g:after {
    clear: both;
}

.am-list {
    margin: 0;
    padding: 0;
}
.am-list > li {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-width: 1px 0;
}

.am-g {
    margin: 0 auto;
    width: 100%;
}

/* app center */
.appCenter-list-div{
    float: left;
    width: 100%;
    height:85px;
    padding-left: 10px;
    line-height: 85px;
    vertical-align:middle;
    background: #fff;
}
.appCenter-list-img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.appCenter-list-img-wp{
    float: left;
}
.appCenter-list-title{
    font-size: 17px;
    color: #373737;
    margin-left: 10px;
    display: block;
    line-height: 17px;
}.appCenter-list-subTitle{
     font-size: 14px;
    margin-top: 10px;
     color: #9B9B9B;
     margin-left: 10px;
     display: block;
     line-height: 14px;
 }

.appCenter-list-info{
    float: left; margin-top: 25px
}

 
.appDetail-intro-div{
    float: left;
    width: 100%;
    height:auto;
    padding: 10px;
    background: #fff;
}
.appDetail-intro-title{
    font-size: 15px;
    color: #000;
    display: block;
    line-height: 17px;
}
.appDetail-intro-content{
    margin-top: 10px;
    font-size: 15px;
    color: #9B9B9B;
    display: block;
    line-height: 17px;
}

li{
    list-style: none;
}
