*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
}

*{
    font-family: microsoft yahei;
}

 
.app_banner{
    float: left;
    display: block;
    width: 100%;
}
.app_banner_img{
    width: 100%;
}
.app_title_bg{
    float: left;
    display: block;
    width: 100%;
    height:40px;
    font-size: 13px;
    line-height: 40px;
    border-bottom: 1px solid #ebebeb;
}
.app_title{
    float: left;
    margin-left: 10px;

}
.app_tips{
    float: right;
    margin-right: 10px;
    color: #949494;
}
.app_list_bg{
/*    float: left;
    width: 100%;*/
    padding: 0;
	margin: 10px auto 0px auto;

    float: left;
}
 

.app-item,.app-center{
	list-style: none;
   float:left;
    display:block; 
/*    float: left;
    width: 25%;
    padding: 0px;*/
    height:80px;
    width:80px;
    margin: 5px;
/*    margin-top: 10px;
    margin-bottom: 0px;*/
}
.app_list_bg a{
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    /*´Ë´¦ÎªÍ¼±êÍâ¿ò*/
    border: 1px solid #ebebeb;
}
.app_icon_img{
    width: 35px;
    height: 35px;
    margin-left: 23px;
    margin-top: 10px;
}
.app_name{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    color: #393939;
    font-size: 13px;
}
.app_only_use_icon{
    position: absolute;
    margin-top: 5px;
    margin-left: 2px;
}



/*woldy write*/


.app_only_use_icon,.app_btn_done,.app_btn_cancel,.btn-up,.btn-down{
    display: none;
}


.app_btn_done{
    float: right;
    width: 70px;
    height: 22px;
    margin-right: 10px;
    z-index: 999999;
}

.app_btn_done img{
    height: 25px;
    margin-top: 7px;
    margin-right: 10px;
    z-index: 999999;
}



.app_btn_cancel{
    float: right;
    width: 70px;
    height: 22px;
    margin-right: 10px;
}

.app_btn_cancel img{
    height: 25px;
    margin-top: 7px;
    margin-right: 30px;
}



.btn-up{
    width: 50px;
    position: fixed;
    bottom:180px;
    right: 10px;
    opacity:0.4;
    filter:alpha(opacity=40);
}

.btn-down{
    width: 50px;
    position: fixed;
    bottom:100px;
    right:10px;
    opacity:0.4;
    filter:alpha(opacity=40);
}

.app_list_bg img { 
    -webkit-user-select: none; 
    border-radius:10px;
}
 

 

.loading {
    width: 100%;
    text-align: center;
    height: 50px;
    padding-top: 250px;
}

.loading img{
    display: block;
    margin: 0 auto;
}


.app-center{
    position: relative;
}
.red-dot{
  display:block;
  background:#f00;
  border-radius:50%;
  width:6px;
  height:6px;
  top:0px;
  right:0px;
  position:absolute;
}